/*fonts: inter, montserrat, preahvihear*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

:root {
  --text: #ebe9fc;
  --background: #0f0f0f;
  --primary: #7100c2;
  --secondary: #1b1b1b;
  --accent: #fffc5d;
  --hover: #7100c2aa;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

*::selection {
  background-color: white;
  color: black;
}

html {
  font-family: "Montserrat Alternates", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  padding: 0;
  color: var(--text);
}

.container {
  margin: 0 8rem 0 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 span {
  color: var(--accent);
  font-size: 3rem;
}

.logo {
  font-family: "Audiowide", sans-serif;
  font-size: 3rem;
  background: linear-gradient(to right, var(--primary), var(--accent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box {
  /*background: var(--secondary);*/
  width: 46%;
  height: 80%;
  color: var(--text);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box h1 {
  color: var(--accent);
}

.box:hover {
  /*background: var(--secondary);*/
}

.header {
  background: var(--secondary);
  justify-content: space-around;
  align-items: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 98%;
  width: 4rem;
  background: var(--secondary);
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  color: #ffffff;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  border-radius: 0.5rem;
}

.sidebar a {
  text-decoration: none;
}

.sidebar-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 3rem;
  width: 3rem;
  margin: 0.2rem auto;
  color: #ffffff;
  border-radius: 1.5rem;

  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  cursor: pointer;
}

.sidebar-item:hover {
  background: var(--primary);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  border-radius: 0.75rem;
}

.sidebar-item i {
  font-size: 1.3rem;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.sidebar-item:hover i {
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transform: scale(1.2);
}

.section {
  transition: 0.3s ease-out;
  height: 100vh;
}

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slides {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.categories .slides .slide {
  position: relative;
  overflow: hidden;
  margin-bottom: 4rem;
  transition: 0.3s ease-out;
  border-radius: 1rem;
  margin-top: 4rem;
}

.slides .slide img {
  width: 100%;
  display: block;
  filter: saturate(0.7);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.slides .gradient {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(115% 120% at 0% 0%, transparent, var(--hover));
  transition: opacity 0.2s ease-in-out;
}

.slide .label_ctn {
  position: absolute;
  bottom: 50px;
  text-align: center;
  width: 100%;
  padding: 1em;
  pointer-events: none;
  transition: transform 0.2s ease-in-out;
}

.slide .label {
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  letter-spacing: 0.1ch;
  color: var(--primary);
  text-transform: uppercase;
  background: var(--accent);
  padding: 6px 12px;
  border-radius: 4px;
}

.slide:hover img {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.slide:hover .gradient {
  opacity: 0.5;
}

.slide:hover .label_ctn {
  transform: translateY(44px);
}

.categories .slide img {
  height: 40vh;
  width: 40vh;
  object-fit: cover;
  border-radius: .5rem;
}
